
<div align="center"><H1>Viki's Parcel Tracker</H1>
  <%= form_tag( { :action => :track, }, { :method => :get }) %>
  <%= text_area_tag(:ids, "RC141815215CN,RC079842583CN,RC181985495cn,RB181985495CN,RB341604551CN,RC101504254CN,RC008769125CN,RC257725047CN,RC220942763CN,RC127556568CN,RC127556571CN,RC377995491CN,RC111274065CN", size: "40x10", style: "width:400px") %><br>
  <%= submit_tag( "Track" ) %>
</div>