<div align="center"><H1>Viki's Parcel Tracker</H1>
<%= form_tag( { :action => :track, }, { :method => :get }) %>
    <%= text_area_tag(:ids, "RB505171204CN,RB575750029CN,RB621479637CN,RB772000928CN,RB358315219CN,RB522881985CN,RB294310619CN,RB527085989CN,RB620719340CN,RB085909029CN,RB609878891CN,RB704473288CN,RB448048167CN,RB448048167CN,RB714359319CN,RB797633360CN,RB653752374CN,RB615438514CN,RB615438531CN,RB450965794CN", size: "40x10", style: "width:400px") %><br>
    <%= submit_tag( "Track" ) %>
</div>