<div align="center"><H1>Viki's Parcel Tracker</H1>
<%= form_tag( { :action => :track, }, { :method => :get }) %>
    <%= text_area_tag(:ids, "RB619250616CN,RB557865952CN,RB804020603CN,RB804020515CN,RB800636045CN,RB800636045CN,RB930339208CN,RC010655396CN,RA277209317CN", size: "40x10", style: "width:400px") %><br>
    <%= submit_tag( "Track" ) %>
</div>