
<div align="center"><H1>Viki's Parcel Tracker</H1>
  <%= form_tag( { :action => :track, }, { :method => :get }) %>
  <%= text_area_tag(:ids, "RB839240370CN,RB341604551CN,RC294346729CN,RB608571005CN,RB896500722CN,RB895887545CN,RC178059770CN,RC091172966CN,RC077489850CN,RC091173051CN,RC101504254CN,RC008769125CN,RC117416711CN,RC338562012CN,RC029331437CN,rb541270584cn,RC084665912CN,RF187379936SG,RB840487251CN,RB988251694CN,RC292632134CN,RC101928766CN,RF187179515SG,RB690049981CN,RC257725047CN,RB781121717CN,RB694922719CN,RC163647213CN,RB726826367CN,RC220942763CN,RB724298132CN,RC127556568CN,RC127556571CN,RC377995491CN", size: "40x10", style: "width:400px") %><br>
  <%= submit_tag( "Track" ) %>
</div>