
<div align="center"><H1>Viki's Parcel Tracker</H1>
  <%= form_tag( { :action => :track, }, { :method => :get }) %>
  <%= text_area_tag(:ids, "RB234143065CN, RB736549782CN, RC151570605CN, RC151570596CN, RC515195491CN, RC515195488CN, RC491294047CN, RC491294033CN, RC491294055CN, RC491294064CN, RC047049987CN, RC047050000CN, RC047049995CN, RB691188066CN, RC046398399CN, RB704476545CN,RB913817234CN,RC347727854CN,RB181985495CN,RB341604551CN,RC101504254CN", size: "40x10", style: "width:400px") %><br>
  <%= submit_tag( "Track" ) %>
</div>