<div align="center"><H1>Viki's Parcel Tracker</H1>
<%= form_tag( { :action => :track, }, { :method => :get }) %>
    <%= text_area_tag(:ids, "LZ671340410US,RB609878891CN,RB448048167CN,RB714359319CN,RB797633360CN,RB653752374CN,RB450965794CN,RB615438531CN,RB661631378CN,RB615438514CN,RB619254241CN,RB555465118CN,RB750249130CN,RB705328171CN", size: "40x10", style: "width:400px") %><br>
    <%= submit_tag( "Track" ) %>
</div>