<div align="center"><H1>Viki's Parcel Tracker</H1>
<%= form_tag( { :action => :track, }, { :method => :get }) %>
    <%= text_area_tag(:ids, "RB804020118CN,RB804020515CN,RB930339208CN,RC010655396CN,RC117417629CN,rb705349154cn,RB341604551CN,RB920041278CN,RC025242100CN,RB762180978CN,RB931345575CN,RB839240370CN,RB894434950CN,RB954209689CN,RB954209732CN,RE646336563SE,RB740165523CN", size: "40x10", style: "width:400px") %><br>
    <%= submit_tag( "Track" ) %>
</div>