<div align="center"><H1>Viki's Parcel Tracker</H1>
<%= form_tag( { :action => :track, }, { :method => :get }) %>
    <%= text_area_tag(:ids, "RB661661499CN,RB661661499CN,RB552711177CN,RB745872418CN,RB750249130CN,rb705328171cn,RB555465118CN,RB619254241CN,RB615438531CN,RB661631378CN,RB615438514CN,RB797633360CN,RB448048167CN,RB609878891CN", size: "40x10", style: "width:400px") %><br>
    <%= submit_tag( "Track" ) %>
</div>